% setdefault(napaka, '')
% rebase('base.html', napaka = napaka, naslov = 'Knjige')

<h2>pozdravljeni v eKnjižnici!</h2>

<table id="tabela" cellpadding="0" cellspacing="0" border="1">
    <tr>
        <th>id_knjige</th>
        <th>Ime avtorja</th>
        <th>naslov</th>
        <th>cena_nakupa</th>
        <th>cena_izposoje</th>
    </tr>
    
    %for (id_knjige, naslov, id_avtorja, cena_nakupa, cena_izposoje) in knjige:
        <tr>
            <td>{{id_knjige}}</td>
            <td>{{id_avtorja}}</td>
            <td>{{naslov}}</td>
            <td>{{cena_nakupa}}</td>
            <td>{{cena_izposoje}}</td>
        </tr>
    %end
    
</table>

