% setdefault(napaka, '')
% rebase('base.html', napaka = napaka, naslov = 'Knjige')
%include('orodna_vrstica.html', povezava='/knjiznica', napis="Išči", stolpci=[1,2,3,4])

<table id="izpis" cellpadding="0" cellspacing="0" border="1">
    <tr>
        <th>številka knjige</th>
        <th>avtor</th>
        <th>naslov</th>
        <th>cena nakupa</th>
        <th>cena izposoje</th>
    </tr>
    
    %for (id_knjige, naslov, id_avtorja, cena_nakupa, cena_izposoje) in knjige:
        <tr>
            <td>{{id_knjige}}</td>
            <td>{{id_avtorja}}</td>
            <td>{{naslov}}</td>
            <td>{{cena_nakupa}} 
                <form action="/knjiznica/kupi/{{id_knjige}}" method="post"> 
                    <input value="Kupi" type="submit" />
                    <!-- <a href="#" onclick="this.parentElement.submit()"> Kupi </a> -->
                </form>
            </td>
            <td>{{cena_izposoje}}
                <form action="/knjiznica/izposodi/{{id_knjige}}" method="post"> 
                    <input value="Izposodi" type="submit" />
                </form>
            </td>
        </tr>
    %end
    
</table>


<!-- <script>
    "use strict"
    function isci() {
        let vrednost = document.getElementById('isci').value;
        let tabela1 = document.getElementById('tabela');
        [...tabela1.rows].forEach(vrstica => {
            let vsebina = vrstica.cells[2].innerText
            if(vsebina.toLocaleLowerCase().indexOf(vrednost.toLocaleLowerCase()) >= 0) {
                vrstica.style.display = ''
            }
            else {
                vrstica.style.display = 'none'
            }
        });
    }
</script> -->