% setdefault(napaka, '')
% rebase('base.html', napaka = napaka, naslov = 'Moja e-Knjižnica')
% include('orodna_vrstica.html', povezava='/moje_knjige', napis="Išči", stolpci=[1,2,3,4])

%if knjige == []:
<h2> Vaša eKnjižnica je prazna. </h2>
%end

%if knjige != []:
<table id="tabela" cellpadding="0" cellspacing="0" border="1">
    <tr>
        <th>ŠTEVILKA KNJIGE</th>
        <th>AVTOR</th>
        <th>NASLOV</th>
    </tr>
    
%for (id_knjige, ime, naslov) in knjige:
    <tr>
        <td>{{id_knjige}}</td>
        <td>{{ime}}</td>
        <td>{{naslov}}</td>
    </tr>
%end

</table>
%end
