% setdefault(napaka, '')
% rebase('base.html', napaka = napaka, krediti=krediti, naslov = 'Moja e-knjižnica')


%if knjige == []:
<h3> Vaša e-knjižnica je prazna. </h3>
%end

%if knjige != []:
<h5> Število preostalih kreditov: {{krediti}} </h5>

% include('orodna_vrstica.html', povezava='/moje_knjige', napis="Išči", stolpci=[1,2])


<table id="izpis" class = "table table-success table-striped">
    <tr>
        <th>ŠTEVILKA KNJIGE</th>
        <th>NASLOV</th>
        <th>AVTOR</th>
        <th>DATUM TRANSAKCIJE</th>
        <th></th>
    </tr>
    
%for (id_knjige, naslov, avtor, datum) in knjige:
    <tr>
        <td>{{id_knjige}}</td>
        <td>{{naslov}}</td>
        <td>{{avtor}}</td>
        <td>{{datum}}</td>
        <td>
            <form action="{{url('vrni_knjigo', id_knjige=id_knjige)}}" method="post"> 
                <a href="#" onclick="this.parentElement.submit()"> Vrni knijigo </a>
            </form>
        </td>
    </tr>
%end


</table>
%end
