% setdefault(napaka, '')
% rebase('base.html', napaka = napaka, naslov = 'Transakcije')

<table id="tabela" cellpadding="0" cellspacing="0" border="1">
    <tr>
        <th>datum</th>
        <th>ime avtorja</th>
        <th>naslov</th>
        <th>cena_nakupa</th>
        <th>tip</th>
    </tr>
    
    %for (id_transakcije, id_uporabnika, naslov,cena_nakupa, cena_izposoje, ime, tip, datum) in transakcija:
        <tr>
            <td>{{datum}}</td>
            <td>{{ime}}</td>
            <td>{{naslov}}</td>
            <td>{{cena_nakupa}} {{cena_izposoje}}</td>
            <td>{{tip}}</td>
        </tr>
    %end
    
</table>

