% setdefault('napaka', '')
% rebase('base.html', napaka=napaka, oseba=oseba, knjige=knjige, naslov='Domača stran')

<h1>{{oseba[0]}} {{oseba[2]}}, pozdravljeni v eKnjižnici!</h1>
<div class="highlights">
  <div class="content">
    <header>
      <h3>
        <b>
          <a> --------------------------------------------------- </a>
        </b>
      </h3>
    </header>
    <header>
      <h3>
          <a> Vaša trenutna narocnina:
            <b>{{oseba[6]}}</b>
          </a>
      </h3>
  </header>
  <header>
    <h3>
      <b>
        <a> --------------------------------------------------- </a>
      </b>
    </h3>
  </header>
  </div>

  <div class="content">
  <header>
    <h3> Vstop v eKnjižnico (to bo gumb)</h3>
  </header>
  <header>
    <h3>
      <b>
        <a> --------------------------------------------------- </a>
      </b>
    </h3>
  </header>
  </div>
</div>

%if knjige == []:
  <h5> Vstopite v knjiznico in pridobite knjige </h5>
%end

%if knjige != []:
<h2> 
  <b>Vaša trenutna zbirka:</b>
</h2>
<table class="center">
<tr>
  <th> Knjiga </th>
  <th> Nakup/izposoja </th>
%for datum, naslov, tip in knjige:
<tr>
  <td>{{naslov}}</td>
  <td>{{tip}}</td>
</tr>
%end
%end
</table>
</div>