% setdefault('napaka', '')
% rebase('base.html', napaka=napaka, naslov='Uporabnik')

% include('orodna-vrstica.html', povezava='/uporabnik/dodaj', napis="Dodaj uporabnika", stolpci='[1,2,3,4,5,6]')
<table id="izpis" class="table table-striped">
  <tr>
    <th>Ime</th>
    <th>Priimek</th>
    <th>Username</th>
    <th>Geslo</th>
    <th>Email</th>
  </tr>
  %for (ime,priimek,username, geslo, email) in uporabnik:
  <tr>
    <td>{{ime}}</td>
    <td>{{priimek}}</td>
    <td>{{username}}</td>
    <td>{{geslo}}</td>
    <td>{{email}}</td>
  </tr>
  %end
</table>