% setdefault('napaka', '')
% setdefault('naslov', 'Dodaj uporabnika')
% rebase('base.html', napaka=napaka, naslov=naslov)

<form action="{{ '/uporabnik/uredi/' + uporabnik[2] if defined('uporabnik') else '/uporabnik/dodaj'}}" method="post">
    <form action="{{ '/uporabnik/uredi/' + uporabnik[2] if defined('uporabnik') else '/uporabnik/dodaj'}}" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="username">Username</label>
            <input id="username" name="username" type="text" class="form-control" value="{{uporabnik[2] if defined('uporabnik') else ''}}" required
                oninput="this.setCustomValidity('')"
                oninvalid="this.setCustomValidity('Obvezno polje')"
                />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="ime">Ime</label>
            <input id="ime" name="ime" type="text" class="form-control" value="{{uporabnik[0] if defined('uporabnik') else ''}}" required
                oninput="this.setCustomValidity('')"
                oninvalid="this.setCustomValidity('Obvezno polje')"
                />

        </div>
        <div class="form-group col-md-6">
            <label for="priimek">Priimek</label>
            <input id="priimek" name="priimek" type="text" class="form-control" value="{{uporabnik[1] if defined('uporabnik') else ''}}" required
                oninput="this.setCustomValidity('')"
                oninvalid="this.setCustomValidity('Obvezno polje')"
                />

        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="geslo">Geslo</label>
            <input id="geslo" name="geslo" type="text" class="form-control" value="{{uporabnik[3] if defined('uporabnik') else ''}}" required
                oninput="this.setCustomValidity('')"
                oninvalid="this.setCustomValidity('Obvezno polje')"
                />

        </div>
        <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input id="email" name="email" type="text" class="form-control" value="{{uporabnik[4] if defined('uporabnik') else ''}}" required
                oninput="this.setCustomValidity('')"
                oninvalid="this.setCustomValidity('Obvezno polje')"
                />
        </div>
    </div>

    <div class="form-row d-flex justify-content-end">
        <button class="btn btn-primary" type="submit">
            {{'Popravi' if defined('uporabnik') else 'Dodaj'}}
        </button>
    </div>
</form>